<div class="edit container-fluid mt-4 d-flex" style="color: orange">
  <%= render "form", mus_album: @mus_album %>

  <br />
</div>

<div class="mt-4"><%= link_to "Show this album", @mus_album %></div>
