<div style="color:purple; margin-top:80px" id="<%= dom_id song %>">
 
  <p>
    <strong>Title:</strong>
    <%= song.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= song.description %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= song.all_tags %>
  </p>  
</div>