<div class="container-fluid">
  <br />
  <div class="d-flex justify-content-end" autocomplete="off" id="search-form">
    <%= render 'songs/search_form' %>
  </div>
  <div class="row">
    <h4 class="mt-4 mb-4 display-5 text-center" style="background-color: white; color: rgb(30, 215, 96);">Songs</h4>
  </div>

  <div id="card" class="container-fluid bg-white">
    <div class="row">
      <% @songs.each do |song| %>
        <div class="col-md-3 col-sm-12 mb-4">
          <div class="card m-2">
            <%= link_to song, style: "text-decoration: none;" do %>
              <%= image_tag song.profile_image, class: 'card-img-top img-fluid', style: 'height: 250px; object-fit: cover;' %>
              <div class="card-body">
                <h5 class="card-title text-center"><%= song.title %></h5>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
